<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HAR Cleaner</title>

  <link rel="stylesheet" href="vendor/picnic.min.css"><!-- DEVELOP -->
  <!--PROD <link rel="stylesheet" href="https://unpkg.com/picnic@6.5.0/picnic.min.css"> PROD-->
  <link rel="stylesheet" href="src/style.css"><!-- DEVELOP -->
  <style>
    /* INCLUDE_STYLE_CSS */
  </style>
</head>
<body>
  <div id="app">
    <nav>
      <a href="#" class="brand">
        <span>HAR Cleaner</span>
      </a>

      <span>
        <input type="file" name="file" id="file" class="fileinput" @change="loadFile" />
        <label for="file">Choose a HAR file</label>
      </span>

    </nav>

    <div class="content">
      <div class="error" v-if="err">
        <span>ERROR: </span> {{ err }}
      </div>

      <div v-for="(entry, index) in entries">
        <entry v-bind:data="entry">
      </div>
    </div>

  </div>
  
  <script src="vendor/vue.js"></script><!-- DEVELOP -->
  <!--PROD <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script> PROD-->
  <script src="src/har.js"></script><!-- DEVELOP -->
  <script src="src/entry.js"></script><!-- DEVELOP -->
  <script src="src/main.js"></script><!-- DEVELOP -->
  <script>
    ;(function() {
      /* INCLUDE_HAR_JS */
      /* INCLUDE_ENTRY_JS */
      /* INCLUDE_MAIN_JS */
    })();
  </script>
</body>
</html>
