nav {
  background-color: #efefef;
}

.fileinput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.fileinput + label {
  border-radius: 0.2em;
  margin: 0.5em 0;
  transition: all 0.3s;
  height: auto;
  padding: .3em .8em;
  box-shadow: 0 0 transparent inset;
  color: #000;
  background-color: #ddd;
  display: inline-block;
}

.fileinput:focus + label,
.fileinput + label:hover {
  box-shadow: inset 0 0 0 99em rgba(17,17,17,0.1);
}

.content {
  padding: 60px 20px 0;
}

.error {
  color: red;
}
.error span {
  font-weight: 600;
}

/* Entry */
.entry {
  display: grid;
  grid-template-columns: 50px 50px 100px 1fr;
  border: 1px solid rgba(0,0,0,0.35);
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.35);
  margin: 12px 0px;
  padding: 3px 5px;
}

.entry .check {
  text-align: center;
}

.status-success {
  color: green;
}
.status-redirect {
  color: blue;
}
.status-error {
  color: red;
}
/* /Entry */
